<div id='container' ng-app="boardly.main">
<div ng-controller="MainController">
<div class="row text-center">
<div class="page-header">
  <h1>Latest Boards <small>by our creative users</small></h1>
</div>
<div class="navbar-form" role="search"  style="margin-bottom: 20px;">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" ng-model="searchBox" style="
    width: 300px;
">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</div>
</div>
<!-- <div class="links"><div class="searchBox">
	<input type="text" ng-model="searchBox">
</div> -->
<div class="row">
<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="board in data.boards | orderBy: '-_id' | filter : searchBox">
  <div class="panel panel-default">
   	<div class="panel-heading">
    	<h3 class="panel-title">{{ board.title }}</h3>
  	</div>
  	<ul class="list-group">
  		<li class="list-group-item" ng-repeat="link in board.links">
  		<a href="{{ link.url }}" target="_blank">
	    {{ link.title }}</a>
	    </li>
	</ul>
  <div class="panel-footer"> <a href="#/users/{{ board.username.username }}">By : {{ board.username.username }}</a></div>
  </div>
  </div>
</div>
</div>
</div>
</div>